* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", serif;
}

/*------- HOME -------*/

.header {
    min-height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)),url(images/header.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* logo */
nav img {
    width: 150px;
}

/* header links */
.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    color: #e6e7e8;
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.nav-links ul li a {
    color: #e6e7e8;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li a.active {
    color: #e6e7e8; 
    border-bottom: 2px solid #e6e7e8;
    padding-bottom: 2px; 
}

.nav-links ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background: #e6e7e8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

/* hero texts */

.text-box {
    width: 90%;
    color: #e6e7e8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 100px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #e6e7e8;
}

.dots-separator {
    position: relative;
    font-size: 20px; 
    margin: 0 15px; 
}

.dots-separator:not(:last-child)::after {
    content: "•"; 
    position: absolute;
    right: -20px; 
    color: #e6e7e8; 
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    background: #134b92;
    color: #e6e7e8;
    border:  1px solid #134b92;
    padding: 16px 36px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.hero-btn:hover {
    border: 1px solid #e6e7e8;
    font-weight: 400;
    background: #e6e7e8;
    color: #523017;
    transition: 0.5s ease;
}

/* Menu buttons */
nav .fa {
    display: none;
}

/* Our story section */
.our-story {
    width: 80%;
    max-width: 1800px; 
    margin: auto;
    padding-top: 180px;
    text-align: center; 
    margin-bottom: 180px;
}

.story-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 150px; 
    text-align: left;
    flex-wrap: wrap; 
}

.story-image {
    width: 80%; 
    max-width: 600px; 
    height: auto; 
    object-fit: cover;
    border-radius: 8px;
}

.story-text {
    flex: 1; 
    text-align: left; 
}

.story-text h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
}

.story-text p {
    color: #000000;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.6;
}


/* Testimonials */
.testimonials {
    position: relative; 
    width: 100%; 
    padding: 100px 0; 
    text-align: center;
    background: #0c2e5a;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.testimonials h1, p {
    font-size: 50px;
    padding-bottom: 20px;
}

.testimonials .row {
    width: 80%; 
    margin: 40px auto; 
    display: flex;
    justify-content: space-between;
}

.testimonial-col {
    flex: 0 0 44%; 
    margin-bottom: 5%; 
    text-align: left;
    background: #134b929c;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.testimonials p, h3, h1 {
    color: #e6e7e8;
    font-size: 25px;
}

.testimonials a {
    text-decoration: none;
    font-size: 25px;
}

.testimonial-col img {
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col .fa-solid{
    color: #e6e7e8;
    font-size: 25px;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer p {
    font-size: 25px;
}

.footer h4{
    margin-bottom: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
}

.icons .fa-brands{
    color: #134b92;
    margin: 0 10px;
    cursor: pointer;
    padding: 18px 0;
    margin-bottom: 10px;
    font-size: 25px;
}

.fa-heart {
    color: #134b92;
    cursor: pointer;
}

.footer .icons a {
    text-decoration: none; /* Removes underline */
}

/*------- Sub-header -------*/

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/hero.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #e6e7e8;
}

.sub-header h1 {
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

/*------- Menu -------*/
.menu-toggle {
    text-align: center;
    margin: 20px 0;
}

#toggleButton {
    background-color: #f59e42;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleButton:hover {
    background-color: #3a3a3a;
}

.menu {
    max-width: 1200px; 
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.menu h1 {
    color: #134b92;
    font-size: 30px;
    margin-bottom: 15px;
}

.step {
    margin: 20px 0;
}

.menu h2 {
    background: #134b92;
    color: white;
    padding: 12px;
    border-radius: 6px;
    font-size: 30px; 
    margin-bottom: 8px;
}

.menu p {
    font-size: 30px; 
    font-weight: bold;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin-top: 10px;
}

.option {
    background: #cce5ff;
    padding: 10px; 
    border-radius: 6px;
    font-size: 30px; 
    font-weight: bold;
    color: #003366;
    min-width: 160px; 
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option img {
    width: 100px;
    height: auto;
    margin-bottom: 8px;
}

.option span {
    font-size: 1em; 
}

.option span:last-child {
    color: #134b92;
    font-size: 0.9em; 
}

.sauce-highlight {
    background: #ffcc80;
    padding: 10px; 
    border-radius: 6px;
    font-size: 30px; 
    font-weight: bold;
    color: #134b92; 
    min-width: 160px; 
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sauce-month {
    border: 3px solid #ff6600;
    background: #ffe6cc;
}




/*------- CONTACT -------*/

/* Map */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
    border-radius: 20px;
}

/* Contact details */
.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col a {
    text-decoration: none;
    color: inherit;
}

.contact-col a:hover {
    text-decoration: none;
    cursor: pointer;
}

.contact-us .row {
    display: flex;
    justify-content: space-between; /* Adds spacing between columns */
    align-items: flex-start; /* Aligns items at the top */
    flex-wrap: wrap; /* Allows columns to stack on smaller screens */
    gap: 20px; /* Adds spacing between the columns */
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid {
    font-size: 28px;
    color: #134b92;
    margin: 10px;
    margin-right: 30px;
}

.contact-col .fa-brands {
    font-size: 28px;
    color: #134b92;
    margin: 10px;
    margin-right: 30px;
}

.contact-col h1 {
    color: #000000;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.contact-col div p {
    padding: 0;
    font-weight: 400;
    font-size: 30px;
}

.contact-col div h5 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #134b92;
    font-weight: 400;
}

.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
}

.contact-col input::placeholder, 
.contact-col textarea::placeholder {
    color: #868686b4; 
    font-weight: 400; 
    font-size: 20px; 
    opacity: 1; 
}

.send-btn {
    display: inline-block;
    text-decoration: none;
    color: #e6e7e8;
    border:  1px solid #134b92;
    padding: 12px 34px;
    font-size: 25px;
    background: #134b92;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.send-btn:hover {
    border: 1px solid #e6e7e8;
    background: #e6e7e8;
    color: #000000;
    transition: 0.5s ease;
}

@media(max-width: 1300px) {
    .testimonials {
        padding: 60px 0;
    }

    .testimonials h1, p {
        font-size: 20px; 
    }

    .testimonials .row {
        width: 90%; 
        margin: 30px auto; 
        flex-direction: column; 
        align-items: center; 
    }

    .testimonial-col {
        max-width: 100%; 
        flex-basis: 100%; 
        margin-bottom: 20px; 
        padding: 20px; 
    }

    .testimonial-col img {
        height: 50px; 
        margin-right: 15px;
    }

    .testimonials p, h3, h1 {
        font-size: 16px;
    }

    .footer {
        padding: 20px 0; /* Reduce padding */
        font-size: 20px; /* Reduce font size */
    }

    .footer h4 {
        font-size: 22px; /* Smaller heading font size */
        margin-bottom: 15px; /* Reduce bottom margin */
    }

    .footer p {
        font-size: 18px; /* Smaller paragraph font size */
    }

    .icons .fa-brands {
        font-size: 20px; /* Smaller icon size */
        margin: 0 8px; /* Reduced margin between icons */
    }

    .fa-heart {
        font-size: 20px; /* Smaller heart icon size */
    }

    .footer .icons a {
        font-size: 18px; /* Smaller icon link font size */
    }
}

@media(max-width: 1000px) {
    .header {
        min-height: 60vh;
    }

    .text-box {
        margin-top: 40px;
    }

    .text-box h1 {
        font-size: 40px;
    }

    .story-container {
        flex-direction: column; 
        text-align: center;
        gap: 50px
    }

    .story-text {
        text-align: center; 
    }
}


@media (max-width: 700px) {
    .header {
        min-height: 30vh;
        background-image: none;
        background: #0c2e5a;
    }

    .text-box {
        margin-top: 40px;
        display: none;
    }

    .text-box h1 {
        font-size: 40px;
    }

    .nav-links ul li {
        display: block;
    }

    .sub-header h1 {
        font-size: 20px;
        padding-top: 30px;
    }

    .nav-links {
        position: fixed;
        background: #134b92;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul li a.active {
        color: #e6e7e8; 
        border-bottom: 2px solid #e6e7e8;
        padding-bottom: 2px; 
    }

    nav .fa {
        display: block;
        color: #e6e7e8;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .our-story {
        padding-top: 50px;
        margin-bottom: 10px;
    }

    .our-story p {
        font-size: 14px;
    }

    .menu {
        max-width: 80%; 
        padding: 10px; 
    }

    .menu h1 {
        font-size: 24px; 
    }

    .menu h2 {
        font-size: 22px; 
        padding: 8px; 
    }

    .menu p {
        font-size: 18px; 
    }

    .options {
        display: block; 
        margin-top: 0; 
    }

    .option {
        font-size: 18px; 
        padding: 8px; 
        min-width: 80%; 
        margin-bottom: 10px; 
    }

    .option img {
        width: 50px; 
    }

    .sauce-highlight {
        font-size: 18px; 
        padding: 8px; 
        margin-bottom: 10px;
    }

    .sauce-month {
        font-size: 18px; 
    }
}

@media (max-width: 880px) {
    .contact-col input, 
    .contact-col textarea {
        width: 90%;  
        padding: 10px; 
        margin-bottom: 10px; 
        font-size: 14px; 
    }

    .contact-col input::placeholder,
    .contact-col textarea::placeholder {
    font-size: 12px; /* Smaller font size */
    color: #868686b4; /* Optional: Change the color if needed */
}

    .contact-us .row {
        flex-direction: column;
        align-items: center; 
    }

    .location iframe {
        height: 300px; 
    }

    .contact-col {
        flex-basis: 100%;  
        font-size: 20px;
    }

    .contact-col h1 {
        font-size: 20px; 
    }

    .contact-col span h5 {
        font-size: 16px;
    }

    .contact-col span p {
        font-size: 12px;
    }

    .send-btn {
        font-size: 16px; 
        padding: 12px 24px;
    }
}

